* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #fd6f00;
  --color-secodary: #000000;
  --color-btn-blur: #fd8c33;
}

body {
  font-family: "Nunito", sans-serif;
  position: relative;
  margin: 0;
  flex: 1;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/image/Background-porto.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

/* Splash Screen */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loader p {
  font-size: 1.5rem;
  color: #333;
  margin-top: 20px;
}

.dot-animation {
  display: inline-block;
}

.dot-animation::after {
  content: '';
  display: inline-block;
  animation: dots 1.5s steps(4, end) infinite;
}

.progres {
  width: 200px;
  height: 20px;
  background:
  linear-gradient(#000 0 0) 0/0% no-repeat#ddd;
  animation: l1 2s infinite linear;
}

@keyframes l1 {
    100% {background-size:100%}
}

@keyframes dots {
  0%, 20% {
      content: '';
  }
  40% {
      content: '.';
  }
  60% {
      content: '..';
  }
  80%, 100% {
      content: '...';
  }
}

/* Navbar */
.navbar {
  position: fixed;
  padding: 5px;
  top: 0;
  width: 100%;
  transition: background-color 0.7s ease;
  background-color: transparent;
  z-index: 10;
}

.navbar.scrolled {
  background-color: #fcfcfc;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.nav-links a {
  transform: translateY(-50px);
  transition: transform 0.5s ease;
}

.nav-links a.show {
  transform: translateY(0);
}

.logo {
  transform: translateY(-50px);
  transition: transform 0.5s ease;
}

.logo.show {
  transform: translateY(0);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 100px;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar1 {
  width: 35px;
  height: 4px;
  background-color: #333;
  margin: 0;
  transition: 0.4s;
}

.bar2 {
  width: 35px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.bar3 {
  width: 35px;
  height: 4px;
  background-color: #333;
  margin: 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -10px) rotate(45deg);
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-primary);
}

.nav-links {
  display: flex;
  gap: 3em;
}

.nav-links li {
  list-style: none;
}

.nav-links a.active {
  color: var(--color-primary);
}

.nav-links a.active::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
}

.nav-links a {
  font-weight: 400;
  font-size: 1.3rem;
  padding: 8px;
  text-decoration: none;
  color: var(--color-secodary);
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease-in-out;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: var(--color-primary);
}

/* Project */
#project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 100px;
}

.project-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  position: relative;
  margin: 0 0 20px;
}

.project-title::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -5px;
  width: 170px;
  height: 3px;
  transform: translate(-50%);
  background-color: var(--color-primary);
}

.project-card-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secodary);
  width: 30%;
  max-width: 320px;
  padding: 5px 5px 15px 5px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.cover-project {
  background-color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.card-project:hover {
  transform: scale(1.05);
}

.image-project {
  width: 100%;
  height: 200px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.badge {
  display: none;
  font-size: 1rem;
  font-weight: 600;
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  margin: 0 5px;
}

.title-project {
  display: flex;
  gap: 10px;
  margin: 0 0 10px 0;
}

.image-project img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease;
  object-fit: cover;
  object-position: center;
}

.up-image,
img.image-project-head2 {
  object-position: 30% 70%;
}

.overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: top 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-project:hover .overlay {
  top: 0;
}

.github-icon {
  position: absolute;
  background-color: var(--color-primary);
  border: var(--color-secodary) 2px solid;
  padding: 2px;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.figma-icon {
  position: absolute;
  background-color: var(--color-primary);
  border: var(--color-secodary) 2px solid;
  padding: 2px;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
}

.figma-icon img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29px;
  height: 29px;
}

.image-project:hover .github-icon {
  opacity: 1;
}

.cover-view {
  background-color: var(--color-secodary);
  padding: 3px 3px 6px 3px;
  border-radius: 5px;
}

.view-button {
  display: none;
  padding: 10px 20px;
  font-weight: 600;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.image-project:hover .view-button {
  display: inline-block;
  opacity: 1;
}

.content-project {
  position: relative;
  z-index: 2;
  padding: 5px 15px;
}

.project-name {
  font-size: 1.4rem;
}

.project-description {
  font-size: 1rem;
  max-height: 120px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-height 0.3s ease;
}

.cover-more-project {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secodary);
  padding: 3px 3px 10px 3px;
  border-radius: 5px;
  width: 15%;
  margin: 40px auto;
}

.more-project {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: var(--color-primary);
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}

.more-project img {
  width: 20px;
  height: 20px;
}

.more-project:hover {
  transform: scale(0.97);
  background-color: var(--color-btn-blur);
}

/* Modal Project */
.modalProject {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.cover-project-modal {
  background-color: var(--color-secodary);
  padding: 5px 5px 10px 5px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
}

.modal-content-project {
  background-color: #fefefe;
  border-radius: 10px;
  padding: 20px;
}

.close-project {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-project:hover,
.close-project:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Animasi background bergerak */
.police-line-background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: repeating-linear-gradient(
    45deg,
    yellow,
    yellow 20px,
    black 20px,
    black 40px
  );
  background-size: 200% 100%;
  animation: move-police-line 20s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@keyframes move-police-line {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 0;
  }
}

.project-coming {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
